* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background: url(images/Drone.jpg);
}

/* THIS CHECK INPUT IS FOR MODE SWITCH */
#mode-check {
  position: fixed;
  right: 41px;
  top: 8px;
  height: 34px;
  width: 38px;
  cursor: pointer;
  z-index: 1100;
  opacity: 0;
}
/* ------------------------------------ */

/* THIS AREA FOR ANIMATIONS */
@keyframes down-flow {
  0% {
    transform: translateY(-100%);
    opacity: .2;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes left-flow {
  0% {
    transform: translateX(-100%);
    opacity: .2;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes left-flow2 {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes right-flow {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
/* ------------------------ */

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0c0202;
  padding-right: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  z-index: 1000;
  animation: down-flow .4s linear;
}

/*  THIS INPUT CHECK IS FOR MENU BAR */
/* This menu-bar-check will display block on a smaller screen */
#menu-bar-check {
  position: fixed;
  left: 39px;
  top: 6px;
  width: 38px;
  height: 38px;
  z-index: 1100;
  opacity: 0;
  display: none;
}

/*  THE MENU BAR DECO STARTS HERE */
/* This menu-bar will display flex on a smaller screen */
.menu-bar {
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(169, 169, 169, 0.3);
  border-radius: 10px;
  margin-left: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: .4s;
  animation: left-flow .4s linear .2s backwards;
}

#menu-bar-check:hover ~ .menu-bar,
#menu-bar-check:checked ~ .menu-bar {
  border: 1px solid darkgray;
}

.menu-line {
  width: 28px;
  height: 4px;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: 3px;
  transition: .4s;
}

.menu-line::before {
  content: "";
  position: absolute;
  top: 8px;
  width: inherit;
  height: inherit;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: inherit;
  transition: .4s;
}

.menu-line::after {
  content: "";
  position: absolute;
  bottom: 8px;
  width: inherit;
  height: inherit;
  background-color: rgba(169, 169, 169, 0.3);
  border-radius: inherit;
  transition: .4s;
}

.menu-bar:hover {
  transform: scale(0.95);
  border: 1px solid darkgray;
}

#menu-bar-check:hover ~ .menu-bar > .menu-line,
#menu-bar-check:hover ~ .menu-bar > .menu-line::before,
#menu-bar-check:hover ~ .menu-bar > .menu-line::after {
  background-color: darkgray;
}

#menu-bar-check:checked ~ .menu-bar > .menu-line {
  background-color: transparent;
}

#menu-bar-check:checked ~ .menu-bar > .menu-line::before {
  background-color: darkgray;
  transform: translateY(7px) rotate(-45deg);
}

#menu-bar-check:checked ~ .menu-bar > .menu-line::after {
  background-color: darkgray;
  transform: translateY(-7px) rotate(45deg);
}
/*  THE MENU BAR DECO ENDS HERE */


/* DECORATION OF THE LOGO STARTS HERE */
.logo-container {
  flex: 1;
  border-top: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s;
  animation: left-flow .4s linear .2s backwards;
}

.logo-container:hover {
  border-top: 2px solid steelblue;
  border-bottom: 2px solid steelblue;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
  text-shadow: 1px 1px 2px #712626;
  letter-spacing: 1px;
  transition: .4s;
}

.logo a {
  color: steelblue;
}

.logo a .logo-span {
  margin-left: -7px;
  color: darkgray;
}

.logo-container:hover > .logo {
  opacity: .7;
}
/* DECORATION OF THE LOGO ENDS HERE */

/* DECORATION OF THE HEADER NAV BAR STARTS HERE */
.nav-bar {
  flex: 4;
  height: 27px;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: left-flow2 .4s linear .3s backwards;
}

/* THIS IS FOR DEVICE LOG SIGN */
#log-sign-check {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: .0;
  display: none;
  z-index: 2000;
}

.device-log-sign-container {
  position: relative;
  height: 100%;
  width: 22px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.log-sign-head {
  width: 8px;
  height: 8px;
  background-color: #06065f;
  border-radius: 50%;
  transition: .5s;
}

.log-sign-body {
  width: 20px;
  height: 8px;
  background-color: #06065f;
  margin-top: 1px;
  border-radius: 7px 7px 0 0;
  transition: .5s;
}

.log-sign-arrow {
  position: absolute;
  right: -6px;
  top: 14px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #06065f;
  border-bottom: 2px solid #06065f;
  transform: rotate(-45deg);
  transition: .5s;
}
/* ---------------------------------------- */

.log-sign {
  flex: 1;
  min-width: 140px;
  display: flex;
  justify-content: space-evenly;
}

.log-sign a {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 3px 6px;
  background-color: #712626;
  color: darkgray;
  border: 2px solid darkgray;
  border-radius: 10px;
  transition: .4s;
  animation: left-flow .4s linear .4s backwards;
}

.sign-up:hover {
  background-color: steelblue;
  color: #0c0202;
  border: 2px solid #0c0202;
  opacity: .7;
}

.sign-in:hover {
  background-color: darkgray;
  color: #712626;
  border: 2px solid #712626;
  opacity: .7;
}

.nav-ul {
  flex: 4;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .9rem;
  transition: .5s;
}

.nav-bar .nav-list,
.nav-bar .nav-list a {
  color: #06065f;
  cursor: pointer;
  line-height: 22px;
  transition: .4s;
  animation: left-flow .4s linear .5s backwards;
}

.nav-bar .nav-list:hover {
  border-bottom: 1px solid #06065f;
}

.nav-bar .nav-list:hover,
.nav-bar .nav-list:hover > a {
  color: steelblue;
}

.nav-dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-list-arrow {
  height: 5px;
  width: 5px;
  border-left: 2px solid #06065f;
  border-bottom: 2px solid #06065f;
  margin-left: 3px;
  transform: translate(0) rotate(-45deg);
  transition: .4s;
}

.nav-dropdown:hover > .nav-list-arrow {
  border-left: 2px solid steelblue;
  border-bottom: 2px solid steelblue;
  transform: translateY(3px) rotate(-45deg);
}

.nav-dropdown .dropdown-ul {
  position: absolute;
  top: 100%;
  left: -20%;
  list-style: none;
  transform: translateY(15px);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.nav-dropdown:hover > .dropdown-ul {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav-dropdown .dropdown-ul .dropdown-list {
  width: 165px;
  padding: 5px 10px;
  background-color: steelblue;
  border-bottom: 1px solid darkgray;
  transition: .4s;
}

.nav-dropdown .dropdown-ul .dropdown-list:hover {
  background-color: #06065f;
  border-bottom: 1px solid #712626;
}

.nav-dropdown .dropdown-ul .dropdown-list a {
  color: #06065f;
  transition: .4s;
}

.nav-dropdown .dropdown-ul .dropdown-list:hover > a {
  color: steelblue;
}
/* DECORATION OF THE HEADER NAV BAR ENDS HERE */

/* DECORATION OF THE MODE SWITCH STARTS HERE */
.mode-switch {
  height: 28px;
  width: 40px;
  border: 2px solid #712626;
  border-radius: 10px;
  outline: 4px solid darkgray;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
  animation: left-flow2 .4s linear .7s backwards;
}

.mode-switch p {
  font-size: .6rem;
  font-weight: 600;
  transition: .5s;
}

.light-mode {
  color: #712626;
  display: block;
}

.dark-mode {
  color: darkgray;
  display: none;
}

#mode-check:hover ~ header > .mode-switch {
  border: 2px solid aliceblue;
}

#mode-check:hover ~ header > .mode-switch > p {
  color: #712626;
  transform: scaleX(.95);
}

#mode-check:checked ~ header > .mode-switch {
  background-color: #0c0202;
  border: 2px solid #712626;
}

#mode-check:checked ~ header > .mode-switch > .light-mode {
  display: none;
}

#mode-check:checked ~ header > .mode-switch > .dark-mode {
  display: block;
}
/* DECORATION OF THE MODE SWITCH ENDS HERE */

/* THIS AREA IS FOR MEDIA QUERRY */
@media (max-width: 940px) {
  body {
    background: url(images/EufaCup.jpg);
    background-position: center top;
  }

  #menu-bar-check {
    display: block;
  }

  .menu-bar {
    display: flex;
  }

  .nav-bar {
    flex: 3;
    justify-content: flex-end;
  }

  .log-sign {
    max-width: 250px;
  }

  .nav-ul {
    position: absolute;
    top: 50px;
    left: -100%;
    background-color: rgba(12, 2, 2, 0.7);
    flex-direction: column;
    justify-content: space-evenly;
  }

  #menu-bar-check:checked ~ .nav-bar > .nav-ul {
    left: 0;
  }

  .nav-bar .nav-list {
    padding: 10px 20px;
    border-bottom: 2px solid darkgray;
  }

  .nav-bar .nav-list,
  .nav-bar .nav-list a {
    color: aliceblue;
    line-height: 20px;
  }

  .nav-dropdown {
    justify-content: space-between;
  }

  .nav-list-arrow {
    height: 6px;
    width: 6px;
    border-left: 2px solid aliceblue;
    border-bottom: 2px solid aliceblue;
    transform: translateX(10px) rotate(-135deg);
  }

  .nav-dropdown:hover > .nav-list-arrow {
    transform: translateX(15px) rotate(-135deg);
  }
}

@media (max-width: 480px) {
  .nav-bar {
    flex: 1;
    justify-content: center;
  }

  #log-sign-check {
    display: block;
  }

  .device-log-sign-container {
    display: flex;
  }

  #log-sign-check:checked ~ .device-log-sign-container > .log-sign-head,
  #log-sign-check:checked ~ .device-log-sign-container > .log-sign-body {
    background-color: #712626;
  }

  #log-sign-check:checked ~ .device-log-sign-container > .log-sign-arrow {
    border-left: 2px solid #712626;
    border-bottom: 2px solid #712626;
    transform: rotate(135deg);
  }

  .log-sign {
    position: absolute;
    top: 50px;
    right: -200%;
    flex-direction: column;
    gap: 10px;
    background-color: darkgray;
    padding: 10px;
    transition: .5s;
  }

  #log-sign-check:checked ~ .log-sign {
    top: 50px;
    right: 10%;
    opacity: 1;
  }
}
/* ----------------------------- */